/*-Font-*/

* {
    font-family: 'Arial', sans-serif;
}


/*-Footer-*/


.footer {
    background-color: SlateGray;
    font: normal 16px sans-serif;
    padding: 20px;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


.footer p {
	color: white;
    text-align: center;
}


/*--Header-*/

body {
	margin: 0px;
}
	

.header {
    background-image: linear-gradient(to right, #EDEFF3, #fff);
    width: 100%;
    text-align: center;
    font: normal 16px sans-serif;
    display: flex;
    align-content: center;
    align-content: center;
}

.header .header-menu p {
    font-size: 14px;
    margin: 0;
}


.header p.header-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    padding: 0;
    display: block;
    margin: auto 0;
}

.header p.header-links a {
    color: LightGrey;
}


.header .header-logo {
    display: flex;
	margin-left: 550px;
}


.logo {
    margin: auto 0;
}

.header-menu {
	padding-left: 150px; 
    text-align: center;
    vertical-align: middle;
    margin: auto 0;

}

.main-image {
	object-fit: cover;
    width: 100%;
	height: 450px;
}

.info-content {
  height: 100%;
}

.info-header {
    padding-top: 30px;
	padding-bottom: 30px;
    color: white;
    text-align: center;
    font-size: 20px;
}

.info-header h2 {
	color: black;
}	

.info-body {
	padding-bottom: 60px;
	background-image: linear-gradient(to top, #EDEFF3, #fff);
}

.info-body p {
	padding-right: 30px;
	padding-left: 250px;
	font-size: 18px;
    margin-top: 10px;
    text-align: right;
    max-width: 30%;
	float: left;
}

.info-body video {
    float: right;
	
}


/*-Dropdown-*/

.navbar {
    text-align: center;
    display: inline-block;
    padding: 30px 5px;
    width: 120%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}



.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 10px 14px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: LightGrey;
}

.dropdown:hover .dropdown-content {
    display: block;
}
